* {
  box-sizing: border-box;
  font-family: 'Verdana', 'Arial', sans-serif;
}

.song-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 3rem 1rem;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid black;
  background-color: lightgray;
}

.titre {
  font-size: 1.5rem;
  font-weight: 700;
}
